/* Sidebar.css */

.sidebar-container {
    display: none;
    height: 100vh;
    width: 16rem;

    flex-direction: column;
    border-right: 1px solid #e5e7eb;

    background-color: var(--color-white);
    box-shadow: var(--shadow-sm);

    position: fixed;
    left: 0;
    top: 0;
}

@media (min-width: 768px) {
    .sidebar-container {
        display: flex;

    }
}

.sidebar-header {
    display: flex;
    height: 4rem;

    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb;

    padding-left: var(--radius-3xl);

    padding-right: var(--radius-3xl);
}

.sidebar-title {
    font-size: 1.25rem;

    font-weight: 700;
    color: #2563eb;

    margin: 0;
}

.sidebar-nav {
    flex: 1;
    padding: var(--radius-2xl);

    display: flex;
    flex-direction: column;
    gap: var(--radius-lg);

}

.sidebar-nav-item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--radius-xl);

    border-radius: var(--radius-lg);

    padding: var(--radius-xl) var(--radius-2xl);
    /* py-3 px-4 */
    font-size: 0.875rem;

    font-weight: 500;
    transition: all 0.15s;
    border: none;
    background-color: var(--color-transparent);
    text-align: left;
}

.sidebar-nav-item-disabled {
    cursor: not-allowed;
    opacity: 0.4;
    filter: grayscale(100%);
}

.sidebar-nav-item-enabled {
    cursor: pointer;
}

.sidebar-nav-item-active {
    background-color: #eff6ff;

    color: #2563eb;

}

.sidebar-nav-item-inactive:hover {
    background-color: #f9fafb;

    color: #111827;

}

.sidebar-nav-item-inactive {
    color: #4b5563;

}

.sidebar-nav-item-special {
    box-shadow: 0 0 0 1px #bfdbfe;
    /* ring-1 ring-blue-200 */
    background-color: rgba(239, 246, 255, 0.5);

}

.sidebar-nav-icon {
    height: 1.25rem;

    width: 1.25rem;

}

.sidebar-nav-icon-special {
    color: #3b82f6;

    fill: rgba(59, 130, 246, 0.2);

}

.sidebar-nav-indicator {
    margin-left: auto;
    display: block;
    height: var(--radius-lg);

    width: var(--radius-lg);

    border-radius: var(--radius-full);

    background-color: #22c55e;

    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.sidebar-footer {
    border-top: 1px solid #e5e7eb;

    padding: var(--radius-2xl);

}

.sidebar-logout-btn {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--radius-xl);

    border-radius: var(--radius-lg);

    padding: var(--radius-xl) var(--radius-2xl);
    /* py-3 px-4 */
    font-size: 0.875rem;

    font-weight: 500;
    color: #dc2626;

    transition: background-color 0.15s;
    background-color: var(--color-transparent);
    border: none;
    cursor: pointer;
}

.sidebar-logout-btn:hover {
    background-color: #fef2f2;

}